node-red/DoorFlow
[{"id":"f54c866a.6cace8","type":"switch","z":"14b2b57b.32a40b","name":"","property":"payload.isOpen","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":220,"wires":[["3ba4c6ab.3ccf3a"],["9a04b2d6.1b969"]]},{"id":"839327ce.866aa8","type":"rpi-gpio out","z":"14b2b57b.32a40b","name":"LED Rojo","pin":"11","set":true,"level":"0","freq":"","out":"out","x":560,"y":300,"wires":[]},{"id":"a638297.10c91d8","type":"rpi-gpio out","z":"14b2b57b.32a40b","name":"LED Verde","pin":"7","set":true,"level":"0","freq":"","out":"out","x":570,"y":120,"wires":[]},{"id":"6dabba6c.4ba554","type":"http request","z":"14b2b57b.32a40b","name":"","method":"GET","ret":"obj","url":"cerradura-iot.herokuapp.com/api/status","tls":"","x":330,"y":380,"wires":[["4dd94499.31a2dc","f54c866a.6cace8"]]},{"id":"4dd94499.31a2dc","type":"debug","z":"14b2b57b.32a40b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":380,"wires":[]},{"id":"6f60d8e4.48edf8","type":"inject","z":"14b2b57b.32a40b","name":"post id","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"10","x":160,"y":380,"wires":[["6dabba6c.4ba554"]]},{"id":"3ba4c6ab.3ccf3a","type":"function","z":"14b2b57b.32a40b","name":"Puerta Abierta","func":"msg1 ={};\nmsg2={};\nmsg1.payload = 1\nmsg2.payload = 0\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":340,"y":180,"wires":[["a638297.10c91d8"],["839327ce.866aa8"]]},{"id":"9a04b2d6.1b969","type":"function","z":"14b2b57b.32a40b","name":"Puerta Cerrada","func":"msg1 ={};\nmsg2={};\nmsg1.payload = 0\nmsg2.payload = 1\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":340,"y":260,"wires":[["a638297.10c91d8"],["839327ce.866aa8"]]}]