node-red/DoorTimerFlow
[{"id":"f54c866a.6cace8","type":"switch","z":"14b2b57b.32a40b","name":"","property":"payload.isOpen","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":280,"wires":[["3ba4c6ab.3ccf3a","e2066066.51d0d"],["9a04b2d6.1b969"]]},{"id":"839327ce.866aa8","type":"rpi-gpio out","z":"14b2b57b.32a40b","name":"LED Rojo","pin":"11","set":true,"level":"0","freq":"","out":"out","x":600,"y":360,"wires":[]},{"id":"a638297.10c91d8","type":"rpi-gpio out","z":"14b2b57b.32a40b","name":"LED Verde","pin":"7","set":true,"level":"0","freq":"","out":"out","x":610,"y":180,"wires":[]},{"id":"6dabba6c.4ba554","type":"http request","z":"14b2b57b.32a40b","name":"","method":"GET","ret":"obj","url":"cerradura-iot.herokuapp.com/api/status","tls":"","x":370,"y":440,"wires":[["4dd94499.31a2dc","f54c866a.6cace8"]]},{"id":"4dd94499.31a2dc","type":"debug","z":"14b2b57b.32a40b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":440,"wires":[]},{"id":"6f60d8e4.48edf8","type":"inject","z":"14b2b57b.32a40b","name":"post id","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"10","x":200,"y":440,"wires":[["6dabba6c.4ba554"]]},{"id":"3ba4c6ab.3ccf3a","type":"function","z":"14b2b57b.32a40b","name":"Puerta Abierta","func":"msg1 ={};\nmsg2={};\nmsg1.payload = 1\nmsg2.payload = 0\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":380,"y":240,"wires":[["a638297.10c91d8"],["839327ce.866aa8"]]},{"id":"9a04b2d6.1b969","type":"function","z":"14b2b57b.32a40b","name":"Puerta Cerrada","func":"msg1 ={};\nmsg2={};\nmsg1.payload = 0\nmsg2.payload = 1\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":380,"y":320,"wires":[["a638297.10c91d8"],["839327ce.866aa8"]]},{"id":"e2066066.51d0d","type":"delay","z":"14b2b57b.32a40b","name":"Delay 5 sec.","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":160,"wires":[["b917b548.368f08"]]},{"id":"b917b548.368f08","type":"http request","z":"14b2b57b.32a40b","name":"","method":"POST","ret":"txt","url":"http://cerradura-iot.herokuapp.com/api/close","tls":"","x":250,"y":60,"wires":[["8e4bc7fe.f6f2a8"]]},{"id":"8e4bc7fe.f6f2a8","type":"function","z":"14b2b57b.32a40b","name":"Reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["e2066066.51d0d"]]}]